#Main {
  text-align: center;
  font-family: 'Kaisei Decol';
}
#Logo {
  height: 2.5rem;
  margin: 0.75rem;
}

.Title {
  margin: 2rem 0;
  font-size: 1.8rem;
}

/*---Header---*/

#HeaderWrapper {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 4rem;
}

#MobileNavBtn {
  display: none;
}

#Navbar {
 display: inline-block;
 font-family: 'Great Vibes';
 font-size: 1.8rem;
 padding: 0 1rem;
}

.NavbarItem {
 display: inline-block;
 margin: 0.5rem;
 cursor: pointer;
 color: #fff;
 text-shadow: 0 0 1rem #fff;
}

/*---Top & Message---*/
#TopWrapper {
  padding-top: 4rem;
}

#TopWrapper img{
  width:100%;
}

#MsgWrapper {
  margin: 10vh 0;
  line-height: 2;
}

#MsgWrapper i {
  color: #00b900;
  font-size: 1.5rem;
  padding: 0 0.25rem;
}

#WeddingMethodWrapper {
  padding: 5rem 0;
}

.WeddingMethod {
  display: inline-block;
  margin: 2rem;
}

.WeddingMethodImg {
  height: 30vh;
}

.WeddingMethod p {
  padding: 1rem;
}

.WeddingMethod h2 {
  font-size: 1.5rem;;
}

#WeddingMethodPopupWrapper {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0, 0.2);
  height: 100%;
  width: 100%;
  z-index: 1000;
}
#WeddingMethodPopupWrapper.open {
  display: inline-block;
}

#WeddingMethodPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2.5rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 80%);
}

/*---Time Schedule---*/
.TimeSchedule {
  padding : 2rem;  
}

.TimeSchedule img {
  max-width: 1170px;
}


/*---Food & Drink Menu---*/
#MenuWrapper {
  max-width: 1170px;
  margin: 0 auto;
}

#DrinkMenu .MenuNames {
  height: auto;
  padding: .3rem 0;
}


#Menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Menu {
  display: inline-block;
  width: 28rem;
}

.MenuOrder {
  font-size: 1.25rem;
  padding: 1rem;
}

.Menu img {
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem 0.1rem rgb(0 0 0 / 60%);
  margin: 1rem;
}

.MenuNames {
  height: 4rem;
}

.MenuDsc {
  font-size: .8rem;
  margin: .8rem;
  line-height: 1.5;
}

.alergy {
  padding: 2rem 0;
}

#ScrollTop {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

/*---Footer & Line---*/
#PhotosWrapper{
  width: 100%;  
  line-height: 2;
  text-align: center;
}

#PhotosWrapper i {
  font-size: 2.5rem;
  color: #00b900;
  padding: 0 0.5rem;
}

.LineWrapper {
  padding: 2rem 0;
  margin-bottom: 4rem;
}

.Line {
  display: flex;
  align-items: center;
  justify-content: center;  
}


.mobile {
  display: none;
}



/*-----Media Query------*/
@media screen and (max-width: 520px) {
 #HeaderWrapper {
  text-align: center;
  display: inline-block;
 }

 #Navbar {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.4);
  height: 100vh;
  padding: 1.5rem;
 }

 #Navbar.open {
  display: flex;
  z-index: 100;
 }

 #MobileNavBtn {
  display: none;
 }

 #MobileNavBtn,  #MobileNavBtn::before,  #MobileNavBtn::after {
  position: absolute;
  height: .2rem;
  width: 1.5rem;
  border-radius: .2rem;
  background: rgba(255,255,255,0.8);
  display: block;
  content: '';
  cursor: pointer;
  top: 1.8rem;
  right: 1rem;
 }

 #MobileNavBtn::before {
  top: -0.7rem;
  right: 0;
 }

 #MobileNavBtn::after {
  top: 0.7rem;
  right: 0;
 }

 .WeddingMethod p {
  display: none; 
 }
 
 .TimeSchedule {
  overflow: scroll;
  padding: 1rem; 
 }

 .Menu {
  width: auto;
 }
 .MenuNames {
    height: auto;
  }

 .mobile {
  display: inline-block;
 }
}
 
